---
import { marked } from "marked";
import { Icon } from "astro-icon/components";
import { getIconName } from "@util/helpers";
const { content, features, style } = Astro.props;
---

<div
  class={`container-${style.container} fade-up rounded-md features grid gap-8`}
>
  {content && <div set:html={marked.parse(content)} class="richtext fade-up" />}

  {
    features && (
      <ul class="features my-10 flex flex-wrap justify-center gap-x-10 gap-y-10 sm:gap-y-20 ">
        {features.map((feature, index) => (
          <li
            class={`features__item fade-up items-left flex flex-1 flex-col rounded-md  text-center`}
            style={`--animation-delay: ${(index + 1) * 150}ms`}
          >
            <div class="flex items-start gap-2">
              {feature.icon && (
                <div
                  class={`${
                    feature.color || "surface-primary"
                  } grid h-8 w-8 shrink-0 place-items-center overflow-hidden rounded-full`}
                >
                  <Icon name={getIconName(feature.icon)} class={`h-5 w-5 `} />
                </div>
              )}

              <h3 class="title-xs text-left ">{feature.title}</h3>
            </div>

            {feature.content && (
              <div
                set:html={marked.parse(feature.content)}
                class="richtext no-lead py-1 text-left"
              />
            )}
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .features {
    &__item {
      min-width: min(100vw - var(--spacing), 16rem);
      @screen sm {
        max-width: 22rem;
      }
    }
  }
</style>
