---
import ItemFilter from "@components/navigation/ItemFilter.astro";
import FormattedDate from "@components/FormattedDate.astro";

const {
  title,
  intro,
  tag,
  style,
  pubDate,
  base_url,
  filters,
  filter,
  filter_type,
} = Astro.props;

---

<div class={`z-0 overflow-hidden ${style.hero_surface || ""}`} id="header">
  <div class="z-10 grid place-items-start">
    <div class="container-md pb-20 pt-40">
      <div class="max-w-3xl">
        {
          pubDate && (
            <span class="text-overline">
              <FormattedDate date={pubDate} />
            </span>
          )
        }

        <h1 class="title">{title}</h1>
        {intro && <div class="subtitle balance py-2"> {intro}</div>}
        {
          tag && (
            <ItemFilter
              filters={tag}
              className="mt-4 justify-center"
              links={true}
              {base_url}
            />
          )
        }

        {
          filters && (
            <ItemFilter
              filters={filters}
              className="mt-4 justify-start"
              links={true}
              active={filter}
              type={filter_type}
              {base_url}
            />
          )
        }

        <slot />
      </div>
    </div>
  </div>
</div>
