---
import NavMobile from "@components/navigation/NavMobile.vue";
import { Icon } from "astro-icon/components";
import ColorSwitch from "@components/common/ColorSwitch.vue";

import { t } from "@util/translate";

const { menu, title, social, color, cta } = Astro.props;
const currentPath = Astro.url.pathname.split("/")[1];

const isActive = (href) => {
  if (currentPath === "" && href == "/") return true;
  if (currentPath !== "" && href.startsWith(`/${currentPath}`)) return true;
};
---

<header
  class={`nav fixed inset-x-0 top-0 z-50 nav-${color}`}
  transition:name="nav"
>
  <nav
    class="container-xl nav__grid flex h-28 justify-between gap-6 transition-all duration-300"
  >
    <a
      href="/"
      aria-label={title}
      class="flex h-full items-center justify-start"
      ><Icon name="logo" class="h-6" /></a
    >
    {
      menu && (
        <div class="nav-underline nav-links relative hidden flex-nowrap items-center gap-4 pl-4 tracking-wide transition-colors  md:flex ">
          {menu.map((link) => (
            <a
              href={link.href}
              class={`${
                isActive(link.href) ? "active font-bold" : ""
              }  btn-replace`}
              data-replace={link.label}
            >
              <span> {link.label}</span>
            </a>
          ))}
        </div>
      )
    }

    <div
      class="nav-underline relative ml-auto flex flex-nowrap items-center justify-end gap-2 pl-4"
    >
      {
        cta && cta.length > 0 && (
          <div class="hidden sm:flex">
            {cta.map((link) => (
              <a
                href={link.href}
                class={`btn btn-sm btn-ghost `}
                data-replace={link.label}
              >
                <span> {link.label}</span>
              </a>
            ))}
          </div>
        )
      }

      <ColorSwitch client:load />

      <div class="md:hidden">
        <NavMobile
          {menu}
          active={currentPath}
          client:idle
          translations={{ menu: t("menu"), close: t("close") }}
        >
          <Icon name="menu-solid" class="h-10 w-10" slot="menu" />
          <Icon name="close" class="h-10 w-10" slot="close" />
          <Icon name="logo" class="w-full" slot="logo" />

          <div
            class="relatives flex w-full flex-wrap justify-center gap-2 py-4"
            slot="social"
          >
            {
              social.map((link, index) => (
                <a
                  href={link.href}
                  class="grid h-full place-items-center transition-all duration-300 hover:text-primary"
                  target="_blank"
                  aria-label={link.label}
                >
                  <Icon name={link.icon} class="h-8 w-8" />
                </a>
              ))
            }
          </div>
        </NavMobile>
      </div>
    </div>
  </nav>
  <style>
    .nav {
      /*  will-change: opacity, transform; */

      &__grid {
        @screen md {
          @apply grid;
          grid-template-columns: 1fr auto 1fr;
        }
      }
    }
    .btn-ghost {
      @apply border-2 border-current;
    }
  </style>
</header>
